* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100vh;
    /* padding: 20px; */
    background: rgb(166, 0, 255);
        background: linear-gradient(90deg, rgba(166, 0, 255, 1) 0%, rgba(240, 62, 255, 1) 50%, rgba(0, 212, 255, 1) 100%);
    /* background-image: url(photo_2024-05-06_22-37-46.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    /* background: url(photo_2024-05-06_22-37-46.jpg) no-repeat center/cover fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    text-align: center;
    max-width: 450px;
    font-weight: bold;
    border-radius: 15px;
}

.card-header, .card-footer {
    background-color: rgb(64, 189, 247);
    padding: 20px;
    border-radius: 15px;
}



button{
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: rgb(64, 189, 247);
    color: white;
}